.container {
  margin-top: 90px;
  margin-left: 20px;
  margin-right:30px;
  

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  
}
.container h1 {
  font-size: 70px;
}
.container img{
  width: 700px;
 
}





@media only screen and (max-width: 414px) {
 /* .container > #welcome {
  width: 300px;
 } */
 .container h1 {
  font-size: 30px;
}
}