.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 120px;
  margin-left: 120px;
  font-family: Arial, Helvetica, sans-serif
}

.container img {
  width: 800px;
  height: 441px;
  object-fit: cover;
  border-radius: 20px;
}


@media (min-width: 1440px) {
  .container {
    max-width: var(--gp-bounded-column-container-max-width, 1280px);
    padding-left: 80px;
    padding-right: 80px !important;
    margin-left: 320px;
    margin-right: 320px;
  }

  .container img {
    width: 1120px;
    height: 464px;
    object-fit: cover;
    border-radius: 20px;
  }
}

@media (min-width: 950px) {
  .container {
    padding-left: 40px;
    padding-right: 40px !important;
  }


}

@media (min-width: 744px) {
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (min-width: 375px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}