.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container input, textarea, select, button { 
  padding: 14px;
  font-size: 14px;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: black;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
  background-color: rgb(178, 178, 227);
}

.container input {
  border: 1px solid black;
  width: 300px;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}